.heading {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 30px;
    color:blueviolet;
}

.text-about-col {
    margin-left: 20px;
}

.text-about {
    white-space: pre-wrap;
    font-size: 16.5px;
    padding-left: 90px;
    padding-right: 90px; 
}

.text-about-indent {
    white-space: pre-wrap;
    font-size: 16.5px;
    padding-left: 120px;
    padding-right: 90px; 
}



.pctlogo-col {
    text-align: center;
}

.video-col {
    display: flex;
    justify-content: center;
}

.video {
    height: 720px;
    width: 1280px;
}