@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.App {
  
  .header {
    padding: 0;
    height: 7.5vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#001529;
    z-index: 999;

    .logo-org {
      white-space: nowrap;
      display: flex;
      flex-direction: row;

      .logo {
        margin-top: 8px;
        margin-left: 4px;
        width: 6%;
        height: 6%;
        float: left;
        background-color: #001529;
        z-index: 999;
      }

      .title {
        font-size: 33px;
        font-family: Raleway;
        font-weight: 1000;
        margin: 10px;
        color: white;
      }
     }

    .nav {
      .primary-nav {
        font-size: 20px;
        font-family: Raleway;
        font-weight: 500;
        margin: 20px 15px 20px 15px;
        margin-top: 10px;
        color: white;
      }
    }
  }

  .footer {
    background-color:#001529;
    text-align: center;
    
    .copyright {
      color: white;
      font-weight: 300;
      text-align: center;
      padding-top: 10px;
    }

    .contact-us {
      color: white;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
    }
    
    // .contact-info {
    //   color: white;
    //   font-weight: 400;
    //   font-size: 15px;
    //   text-align: left;
    // }
    
    // .connect-with-us {
    //   color: white;
    //   font-weight: 600;
    //   font-size: 20px;
    //   text-align: center;
    // }
    
    .social-media {
      color: white;
      font-weight: 400;
      font-size: 15px;
    }

    /* Style all font awesome icons */
    // .fa {
    //   z-index: 10;
    //   background-color: white;
    //   color: black;
    //   font-size: 30px;
    //   text-align: center;
    //   text-decoration: none;
    //   border-radius: 50%;
    //   border: medium solid black;
    //   width: 32px;
    //   height: 32px;
    //   padding: 5px;
    //   margin: 5px 2px;
    // }

    i {
      border-radius: 50%;
      border: solid black;
      background-color: white;
      box-sizing: content-box;
      color: black;
      padding: 10px;
      width:16px;
      height: 16px;
      text-align:center
    }

    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
    }

  }

}

