.App {
  
  .header {
    padding: 0;
    height: 7.5vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#001529;

    .logo-org {
      white-space: nowrap;
      display: flex;
      flex-direction: row;

      .logo {
        margin-top: 8px;
        margin-left: 4px;
        width: 6%;
        height: 6%;
        float: left;
        background-color: #001529;
        z-index: 999;
      }

      .title {
        font-size: 30px;
        font-family: Georgia, serif;
        font-weight: 1000;
        margin: 10px;
        color: white;
      }
     }

    .nav {
      .primary-nav {
        font-size: 20px;
        font-weight: 500;
        margin: 20px;
        margin-top: 10px;
        color: white;
      }
    }
  }

  .footer {
    background-color:#001529;
    
    .copyright {
      color: white;
      font-weight: 300;
      text-align: left;
      padding-top: 85px;
    }

    .contact-us {
      color: white;
      font-weight: 600;
      font-size: 20px;
      text-align: left;
    }
    
    .contact-info {
      color: white;
      font-weight: 400;
      font-size: 15px;
      text-align: left;
    }
    
    .connect-with-us {
      color: white;
      font-weight: 600;
      font-size: 20px;
      text-align: left;
    }
    
    .social-media {
      color: white;
      font-weight: 400;
      font-size: 15px;
      text-align: left;
    }
  }

}

