.Leadership {
    display: flex;
    flex-direction: column;
    .board {
        .heading {
            margin-top: 4%;
            .section-title {
                text-align: center;
                font-size: 30px;
                font-weight: 700;
            }
            .hr {
                border: 0;
                height: 8px;
                width: 85%;
                background: #095484;
                margin-bottom: 20px;
            }
        }
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-left: 10%;
            margin-right: 10%;
            overflow: hidden;
            .trooper {
                display: flex;
                flex-direction: column;
                height: auto;
                width: 300px;
                padding-top: 2%; 
                .img {
                    width:300px;
                    height:300px;
                    object-fit:cover;
                    text-align: center;
                }
                .position {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 450;
                }
                .name {
                    text-align: center;
                    padding-top: 2%;
                    font-size: 25px;
                    font-weight: 600;
                    margin: 0;
                }
                .bio {
                    text-align: left;
                    width: 280px;
                    font-size: 16px;
                    font-weight: 400;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    .directors {
        .heading {
            margin-top: 4%;
            .section-title {
                text-align: center;
                font-size: 30px;
                font-weight: 700;
            }
            .hr {
                border: 0;
                height: 8px;
                width: 85%;
                background: #095484;
                margin-bottom: 20px;
            }
        }
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-left: 6%;
            margin-right: 6%;
            overflow: hidden;
            .trooper {
                display: flex;
                flex-direction: column;
                height: auto;
                width: 275px;
                padding-top: 2%; 
                padding-bottom: 2%;
                .img {
                    width:275px;
                    height:275px;
                    object-fit:cover;
                    text-align: center;
                }
                .position {
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                }
                .name {
                    text-align: center;
                    padding-top: 2%;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}