.timeline {
    padding: 0 !important; 
    margin-left: 20%;
    margin-right: 20%;
    .vertical-timeline-element-icon.bounce-in {
       height: 50px;
       width: 50px;
       top: 50%;
    }
    .component {
        margin: 0; 
        height: 350px;
        .event-name {
            text-align: center;
            font-size: 25px;
            font-weight: 500; 
            padding-bottom: 2%;
        }
        .event-info {
            text-align: center;
            .container {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                padding-top: 3%;
                .bar {
                    padding: 0% 3% 0% 3%;
                }
            }
            .container > p {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
            }
        }
        .event-info > p {
            margin: 0; 
            font-size: 18px;
            font-weight: 400;
        }
        .vertical-timeline-element-content.bounce-in {
            margin: 0;
            padding: 1em;
            -webkit-box-shadow: 0 0px 0 #ddd;
            box-shadow: 0 0px 0 #ddd;
        }
        .vertical-timeline-element-date {
            width: 0px;
            height: 0px; 
            background-color: transparent;
        }
        .slideshow-container {
            height: 240px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;

            .each-fade {
                display: flex;
                width: 100%;
              }
              
              .each-fade > div {
                width: 100%;
                height: 240px;
                overflow: hidden;
                position: relative;
                background: #fefefe;
              }
              
              .each-fade > div > img {
                position: absolute;
                text-align: center;
                width: 110%;
                height: 110%;
                margin: 0;
                object-fit: cover;
                filter: none;
                
              }

              @keyframes scroll-bottom {
                0% {
                    transform: translateY(0%);
                }
                100% {
                    transform: translateY(-0%);
                }
              }
        }
    }               
}

/* The line color */
.timeline.vertical-timeline.vertical-timeline--two-columns::before {
    background: #424242;
    margin-left: -8px;
}
