.heading-new-members {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.heading-president {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.new-members {
    display:block;
    background:transparent;
    padding:20px;
}

.row-president {
    margin-top: 40px; 
}

.text-col {
    padding: 30px;
}

.image-col {
    margin-top: 60px;
}

.image-president {
    width: 70%;
    height: 70%;
    object-fit:cover;
}

.text-president {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}