.heading-new-members {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.heading-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    
}

.new-members {
    display:block;
    background:transparent;
    padding:20px;
}

.row-home {
    margin-top: 30px;  
    margin-left: 100px;
    margin-right: 100px;
}

.text-col {
    padding-top: 20px;
}

.image-col {
    margin-top: 30px;
    margin-left: 20px;
}

.image-president {
    margin-left: 50px;
    margin-top: 70px;
    width: 80%;
    height: 80%;
    object-fit:cover;
}

.image-company {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.name-president {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}

.text-president {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16.5px;
  margin-bottom: 25px;
}

.text-president-signature {
    font-size: 16.5px;
    padding: 0;
    margin: 0;
}

.hr-title {
    border: 0;
    height: 8px;
    background: #095484;
    margin-bottom: 30px;
}