.App {
  text-align: center;
}

.header {
  padding: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  white-space: nowrap;
 }

 .title {
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: 1000;
  margin: 10px;
  color: white;
}

 .header-nav {

}

.primary-nav {
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  margin-top: 10px;
  color: white;
}

// .logo {
//   width: 71px;
//   height: 80px;
//   background: url(./logo.jpg);
//   margin: 16px 40px 0 12px;
//   float: left;
// }

.footer {
  background-color: goldenrod;
}

.f-title {
  color: blueviolet;
  font-weight: 1000;
  font-size: 40px;
  text-align: center;
}

.f-sub {
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.copyright {
  color: blueviolet;
  font-weight: 300;
  text-align: left;
  padding-top: 85px;
}

.contact-us {
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.contact-info {
  color: blueviolet;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}

.connect-with-us {
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.social-media {
  color: blueviolet;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}


